    <div class="container">
        <h1>Mini Portfolio - F2022</h1>
        <hr>
        <p>Hello, welcome to my mini-portfolio website created for the COMP2112 class. My name is Roman Lysenko, student number - 200483068
            Click the link in the navbar or below to load the other pages
        </p>
        <div class="container">
            <ul class=" row">
                <li class="nav-item col">
                <a class="nav-link homelink" id="About" aria-current="page" href="#"><i class="fa-solid fa-circle-info fa-lg"></i></i> About</a>
                </li>
                <li class="nav-item col">
                <a class="nav-link homelink" id="Projects" aria-current="page" href="#"><i class="fa-solid fa-folder-open fa-lg"></i> Projects</a>
                </li>
                <li class="nav-item col">
                <a class="nav-link homelink" id="Services" aria-current="page" href="#"><i class="fa-solid fa-signs-post fa-lg"></i> Services</a>
                </li>
                <li class="nav-item col">
                <a class="nav-link homelink" id="Contact" aria-current="page" href="#"><i class="fa-solid fa-phone fa-lg"></i> Contact</a>
                </li>
            </ul>
        </div>
    </div>
